{% extends "master.html" %}
{% block title %}Update Profile{% endblock %}

{% block body %}<br><br>

<div class="container mt-5">
  <div class="card p-4 mx-auto" style="max-width:550px; border-radius:20px;">
    <h3 class="text-center mb-4">Update Profile</h3>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <label class="fw-bold">Name</label>
      <input type="text" name="name" class="form-control mb-3 rounded-3" value="{{ user.name }}" required>

      <label class="fw-bold">Email</label>
      <input type="email" name="email" class="form-control mb-3 rounded-3" value="{{ user.email }}" required>

      <label class="fw-bold">Contact</label>
      <input type="text" name="contact" class="form-control mb-3 rounded-3" value="{{ user.contact }}">

      <label class="fw-bold">Address</label>
      <textarea name="address" class="form-control mb-3 rounded-3" rows="3">{{ user.address }}</textarea>

      <label class="fw-bold">Profile Image</label>
      <input type="file" name="profile_image" class="form-control mb-4 rounded-3">

      <button class="btn btn-success w-100 py-2 rounded-3">Save Changes</button>
    </form>
  </div>
</div>
{% endblock %}
