<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP</title>
</head>
<body style="font-family: Arial; text-align:center; margin-top:100px;">

    <h2>Email OTP Verification</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <button type="submit">Verify</button>
    </form>

</body>
</html>
