{% extends "master.html" %}
{% block title %}Verify OTP{% endblock %}

{% block body %}
<!-- BACK BUTTON -->
<div class="back-btn-wrapper">
    <button class="back-btn" onclick="goBack()">⬅ Back</button>
</div>

<style>
.back-btn-wrapper{
    margin-top: 89px; /* adjust this according to your navbar height */
    margin-bottom: 15px;
    margin-left:20px;
}
.back-btn{
    border: none;
    padding: 12px 26px;
    border-radius: 35px;
    background: linear-gradient(135deg,#198754,#2ecc71);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
    transition: .3s;
}
.back-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(0,0,0,.35);
}
.back-btn:active{
    transform: scale(.95);
}
</style>

<script>
function goBack(){
    window.history.back();
}
</script>
<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-4 shadow-lg" style="max-width:650px; width:100%; border-radius:15px; transition:0.3s;">

    <h2 class="text-center mb-4">Verify OTP</h2>

    <form method="POST">
      {% csrf_token %}

      <label class="form-label">Enter OTP</label>
      <input type="number" name="otp" class="form-control form-control-lg mb-3" required>

      <button class="btn btn-success btn-lg w-100">Verify</button>
    </form>

  </div>
</div>

<style>
  .card:hover { transform: scale(1.02); box-shadow:0 0 18px rgba(0,0,0,0.3); }
</style>
{% endblock %}